.add-btn{
  height: 32px;
  width: 110px;
  border-radius: 15px;
  background: white;
  border: 1px solid #4F4F4F;
}
.com{
  border: 1px solid #4F4F4F;
  border-radius: 15px;
}
.com-r{
  border: 1px solid #4F4F4F;
  border-radius: 15px;
  margin: 4px 35px 0 -82px;
  height: 23px;
}
.com-span{
  border: 1px solid #4F4F4F;
  border-radius: 15px;
  margin-left: 2px;
  padding-right: 25px;
}
.com-title{
font-size: 12px;
background: #4F4F4F;
color: white;
border: 1px solid #4F4F4F;
border-radius: 20px;
height: 30px;
margin-left: -2px;
}
.com-btn{
height: 23px;
border-radius: 20px;
width: 25px;
border: 1px solid #4F4F4F;
background: #D9D9D9;
margin: -1px 0px 0px -2px;
}
.pad-10{
  padding: 0px 10% 0px 10%;
}
.pad-10 span{
  margin-left: -13px;
  font-weight: bold;
}
.ser-input{
  border-radius: 12px;
  width: 250px;
  border: 1px solid #4F4F4F;
}
.fol-div{
  border-radius: 12px;
  width: 250px;
  border: 1px solid #4F4F4F;
  padding: 3px;
}
.fol-select{
  width: 230px;
  border-radius: 6px;
  color: #4F4F4F;
  background: #F7C7C7;
  text-align: center;
}
.service{
  border: 1px solid #4F4F4F;
  padding: 10px 5px;
  border-radius: 10px;
}
.service div{
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 4px;
  text-decoration: none;
  color: #4F4F4F;
  font-weight: bold;
}
.chat{
  border: 1px solid #4F4F4F;
  padding: 10px 5px;
  border-radius: 10px;
}
.chat-l{
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}
.chat-r{
  padding: 0px;
}
.chat div{
  border-radius: 10px;
  padding-bottom: 4px;
  text-decoration: none;
  color: #4F4F4F;
  font-weight: bold;
}
.service a{
  text-decoration: none;
}
.button{
    border: 1px solid #4F4F4F;
    text-align: center;
}
.follow{
    border: 1px solid #4F4F4F;
    text-align: center;
    height: 80px;
    padding-top: 27px;
}
.container {
  width: 100%;
}
.row {
  display: flex;
}
.sidebar {
  background-color: #4db8ff;
  color: white;
  padding: 20px;
  height: 100vh;
  text-align: center;
}
.body {
  background-color: #4F4F4F;
  color: #4F4F4F;
  padding: 0px 0px 0px 20px;
  height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.logout-btn {
  background: gray;
  color: white;
  padding: 5px 10px;
  border: none;
}
.chat-box {
  background-color: white;
  height: 100%;
  padding: 10px;

  /* height: 100vh; */
  overflow-y: auto;
  flex-grow: 1;
}
.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}
.message.from {
  background-color: #eee;
  text-align: left;
}
.message.to {
  background-color: #d0eaff;
  text-align: right;
}
.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4F4F4F;
}
.chat-input input {
  width: 90%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #4F4F4F;
  border-radius: 10px 0px 0px 0px;
  margin-left: 10px;
}
.chat-input span {
  margin-left: -12%;
}
.chat-input img {
  margin: 0 2% 0 5%;
}
#toggleSidebarBtn {
  position: absolute;
  top: 48px;
  left: 338px;
  z-index: 999;
  color: white;
}
.ul {
    list-style-type: none;
    padding-left: 0;
  }
  .ul li {
    margin-bottom: 15px;
  }
/* #toggleSidebarBtn {
  transition: left 0.3s ease;
} */
@media screen and (max-width: 992px) {
  #toggleSidebarBtn {
    position: absolute;
    top: 48px;
    left: 170px;
    z-index: 999;
  }
}
